:root {
	font-size: ms(0);
}

html {
	font-size: 100%;
	min-height: 100%;
	height: 100%;
}

body {
	font-family: $default-typeface;
	font-size: ms(0);
	min-height: 100%;
	height: 100%;
	direction: rtl;
	text-align: right;
	line-height: 1.2;
}

input,
textarea,
select {
	font-family: $default-typeface;
}

main {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h1 {
	font-size: ms(4);
	font-family: $default-typeface;
}

h2 {
	font-size: ms(3);
	font-family: $default-typeface;
}

h3 {
	font-size: ms(2);
	font-family: $default-typeface;
}

h4 {
	font-size: ms(1);
}

h5 {
	font-size: ms(0);
}
