@font-face {
	font-family: 'IRANSans';
	src: url('../../fonts/IRANSans/IRANSansWeb.woff2') format('woff2'), url('../../fonts/IRANSans/IRANSansWeb.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'IRANSans';
	src: url('../../fonts/IRANSans/IRANSansWeb_Medium.woff2') format('woff2'), url('../../fonts/IRANSans/IRANSansWeb_Medium.woff') format('woff');
	font-weight: 500;
}
