@font-face {
	font-family: 'Redacted';
	src: url('../../fonts/Redacted/redacted-regular.woff2') format('woff2'), url('../../fonts/Redacted/redacted-regular.woff') format('woff'),
		url('../../fonts/Redacted/redacted-regular.eot') format('embedded-opentype'), url('../../fonts/Redacted/redacted-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Redacted Script';
	src: url('../../fonts/Redacted/redacted-script-regular.woff2') format('woff2'), url('../../fonts/Redacted/redacted-script-regular.woff') format('woff'),
		url('../../fonts/Redacted/redacted-script-regular.eot') format('embedded-opentype'), url('../../fonts/Redacted/redacted-script-regular.ttf') format('truetype');
}
