$white: white;
$white-1: shade($white, 3%);
$white-2: shade($white, 6%);
$white-3: shade($white, 9%);
$white-4: shade($white, 12%);
$white-5: shade($white, 15%);
$white-6: shade($white, 20%);

$black: black;
$black-1: tint($black, 10%);
$black-2: tint($black, 20%);
$black-3: tint($black, 30%);
$black-4: tint($black, 40%);
$black-5: tint($black, 50%);
$black-6: tint($black, 60%);

$green: #37aa42;
$green-light: #4bb26e;
$green-lighter: #8acf9e;

$red: #df7d7e;

$main-color: $green;
