.a-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background-color: mix(white, black, 90%);
	border-radius: 2px;
	font-weight: bolder;

	&--plain {
		background: none;
		font-size: ms(0);
		padding: 0;
	}
}
