.o-messages {
	padding: $gutter;
	overflow-y: scroll;

	&__form {
		display: flex;
		margin-bottom: $gutter--thin;
	}

	&__textfield {
		flex-grow: 1;
	}

	&__send {
		font-weight: bold;
		font-size: ms(0);
	}

	&__events {
		display: flex;
		flex-direction: column;
	}

	&__event {
	}
}
